:root {
    --rosa-clarissimo1: rgba(242, 206, 223, 1);

    --rosa-clarissimo2: rgba(242, 194, 212, 1);

    --rosa-clarissimo: rgba(242, 182, 210, 1);

    --rosa-claro: rgba(231, 153, 177, 1);

    --rosa-acinsentado: rgba(217, 150, 174, 1);

    --rosa-acinsentado-medio: rgba(236, 150, 175, 1);

    --rosa: rgba(242, 162, 200, 1);

    --rosa-escuro: rgba(89, 66, 77, 1);

    --rosa-acinsentado-escuro: rgba(166, 128, 145, 1);

    --verde-jade: rgba(86, 166, 143, 1);

    --verde-jade-escuro: rgb(79, 129, 114);

    --verde-jade-claro: rgba(126, 175, 161);

    --creme: rgba(237, 217, 190, 1);

    --creme-escuro: rgba(227, 193, 155, 1);

    --marrom-avermelhado: rgba(64, 44, 42, 1);

    --marrom-avermelhado2: rgba(62, 39, 31, 0.9);

    --marrom: rgba(73, 44, 30, 1);

    --marrom-medio: rgba(62, 39, 31, 1);

    --marrom-escuro: rgba(51, 28, 22, 1);

    --marrom-escurissimo: rgba(30, 15, 10, 1);

    --quase-preto: rgba(19, 8, 6, 1);

}

:root {
    --borda-padrao: 2px solid var(--marrom);
    --borda-hover: 2px dotted var(--bege);
    --borda-focus: 2px dashed var(--verde_claro);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--creme);
    height: 100%;
}

header {
    height: 400px;
    background: linear-gradient(to top, var(--verde-jade-escuro), var(--verde-jade));
}

header h1 {
    text-align: center;
    color: var(--rosa-claro);
    font-family: "Ballet", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 9rem;
}

main {
    background-color: var(--creme);
    width: 80%;
    margin: 20px auto;
    border: 4px dashed var(--creme-escuro);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--marrom-avermelhado);
    position: absolute;
    bottom: 1;
    width: 100%;
}

footer p {
    color: var(--rosa-claro);
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lista tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 220px;
}

.lista table {
    width: 80%;
    height: auto;
    table-layout: fixed;
    /* largura fixa das colunas */
    border-collapse: collapse;
    /* remove espaçamento entre células */
}

.lista th,
.lista td {
    width: calc(100% / 4);
    /* divide tabela em 3 colunas iguais */
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    /* quebra texto longo */
}

.lista thead {
    font-size: 30px;
    color: var(--marrom);
}

.lista tbody tr{
    font-size: 25px;
    color: var(--marrom);
}

.lista tbody tr:nth-child(even) {
    background: var(--creme-escuro);
}


/* configuração do filtro */

.filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    font-size: 30px;
    text-align: center;
    height: 45px;
    width: auto;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: var(--verde-jade);
    background-color: var(--marrom);
}